.Main{
    align-self: center;
    border-radius: 5px;
    border-color: aquamarine;
    border-top-left-radius: 5px 5px 5px;
}
#Sheesh{
    background-color: black;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
}
*{
    background-color: #2E236C;
}
h1{
    color: aliceblue;
}
img{
    border-radius: 10px;
    border-color: blueviolet;
}
#tt{
    background-color:cyan ;
}